.contact-container {
  padding: 80px 40px;
  background-color: #f4f7f6;
}
.contact-header {
  text-align: center;
  margin-bottom: 50px;
}
.contact-header h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #000000;
}
.contact-header p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  max-width: 600px;
  margin: 10px auto 0 auto;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin-bottom: 8px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}
.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.submit-btn {
  grid-column: 1 / -1;
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: capitalize;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #710202;
}
