.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 120px;
}

.navbar-logo {
  color: var(--text-secondary);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 35px;
}

.nav-links a {
  color: var(--text-secondary);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* --- Responsive Styles for Mobile --- */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    background-color: rgba(26, 37, 60, 0.98);
    backdrop-filter: blur(10px);
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    text-align: center;
    margin: 15px 0;
  }
  .menu-icon {
    display: block;
  }
}
